@model DragonsLegacy.Models.Achievement

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />
<br />

<h2 class="text-center mt-5">Edit Achievement</h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Achievements"))
{
    <div class="row">
        <div class="col-6 offset-3">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.Label("Name", "Achievement's Name")
            <br />
            <textarea class="form-control" name="Name">@Model.Name</textarea>
            @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Description", "Achievement's Description")
            <br />
            <textarea class="form-control" name="Description">@Model.Description</textarea>
            @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Experience Points", "ExperiencePoints")
            <br />
            <input type="number" class="form-control" name="ExperiencePoints" value="@Model.ExperiencePoints">
            @Html.ValidationMessage("ExperiencePoints", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Coins", "Coins")
            <br />
            <input type="number" class="form-control" name="Coins" value="@Model.Coins">
            @Html.ValidationMessage("Coins", null, new { @class = "text-danger" })
            <br /><br />

            <button class="btn btn-success" type="submit">Edit</button>

        </div>

    </div>
}
