<h2 class="text-center">Index Achievements</h2>

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<form method="GET" action="/Achievements/Index?achievementFilter=@ViewBag.AchievementFilter">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search" value="@ViewBag.SearchString" />
        @if (ViewBag.AchievementFilter != "")
        {
            <input type="hidden" name="achievementFilter" value="@ViewBag.AchievementFilter" />
        }
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@using (Html.BeginForm("Index", "Achievements", FormMethod.Get))
{
    @if (@ViewBag.SearchString != "")
    {
        <input type="hidden" name="search" value="@ViewBag.SearchString" />
    }
    <div class="filter-container">
        <label for="achievementFilter">Filter:</label>
        @Html.DropDownList("achievementFilter", new SelectList(new[]
        {
            new SelectListItem { Text = "Not Achieved", Value = "NotAchieved" },
            new SelectListItem { Text = "Achieved", Value = "Achieved" },
            new SelectListItem { Text = "All", Value = "All" }
        }, "Value", "Text", ViewBag.AchievementFilter), new { onchange = "submit()" })
    </div>
}
<br /><br />

@if (ViewBag.Count > 0)
{
    @foreach (DragonsLegacy.Models.Achievement achievement in ViewBag.Achievements)
    {
        <div class="card">

            @Html.Partial("GeneralInfo", achievement)

        </div>

        <div class="text-center">
            <a href="/Achievements/Show/@achievement.Id" class="btn btn-dark">Show Achievement</a>
        </div>
        <br />
    }

    @if (ViewBag.LastPage > 1)
    {
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.LastPage; i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=@(ViewBag.LastPage)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
}
else
{
    <div class="alert alert-info p-3 rounded-3 text-center">
        No achievements found.
    </div>
}