@model DragonsLegacy.Models.Achievement

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<h2 class="text-center">Show Achievement</h2>

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<div class="card">

    @Html.Partial("AchievementInfo", Model)

    <br />

    @if (ViewBag.IsAdmin)
    {
        <div class="d-flex flex-row justify-content-around">
            <a class="btn btn-primary" href="/Achievements/Edit/@Model.Id">Edit</a>

            <form method="post" action="/Achievements/Delete/@Model.Id">

                <button type="submit" class="btn btn-danger">Delete</button>

            </form>
        </div>
    }

    <br />
</div>

<br />