<h2 class="text-center">Index Teams</h2>

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<form method="GET" action="/Teams/Index?teamFilter=@ViewBag.TeamFilter">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search" value="@ViewBag.SearchString" />
        @if (ViewBag.TeamFilter != "")
        {
            <input type="hidden" name="teamFilter" value="@ViewBag.TeamFilter" />
        }
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@if (!ViewBag.IsAdmin)
{
    @using (Html.BeginForm("Index", "Teams", FormMethod.Get))
    {
        @if (@ViewBag.SearchString != "")
        {
            <input type="hidden" name="search" value="@ViewBag.SearchString" />
        }
        <div class="filter-container">
            <label for="teamFilter">Filter:</label>
            @Html.DropDownList("teamFilter", new SelectList(new[]
                    {
            new SelectListItem { Text = "Managed Teams", Value = "ManagedTeams" },
            new SelectListItem { Text = "My Teams", Value = "MyTeams" },
            new SelectListItem { Text = "Old Teams", Value = "OldTeams" },
            new SelectListItem { Text = "All Teams", Value = "AllTeams" }
            }, "Value", "Text", ViewBag.TeamFilter), new { onchange = "submit()" })
        </div>
    }
}
<br /><br />

@if (ViewBag.Count > 0)
{
    @foreach (DragonsLegacy.Models.Team team in ViewBag.Teams)
    {
        <div class="card">

            @Html.Partial("GeneralInfo", team)

        </div>

        <div class="text-center">
            <a href="/Teams/Show/@team.Id" class="btn btn-primary">Show Team</a>
        </div>
        <br />
    }

    @if (ViewBag.LastPage > 1)
    {
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.LastPage; i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=@(ViewBag.LastPage)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
}
else
{
    <div class="alert alert-info p-3 rounded-3 text-center">
        No teams found.
    </div>
}