@model DragonsLegacy.Models.Team

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<h2 class="text-center mt-5">Add Team</h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Teams"))
{
    <div class="row">
        <div class="col-6 offset-3">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.Label("Name", "Name")
            @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Description", "Description")
            @Html.TextArea("Description", Model.Description, new { @class = "summernote" })
            <br /><br />

            <button class="btn btn-success" type="submit">Add</button>

        </div>

    </div>
}
