@model DragonsLegacy.Models.Item

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<h2 class="text-center mt-5">Add Item</h2>
<br />

<form enctype="multipart/form-data" asp-controller="Items" asp-action="New">
    <div class="row">
        <div class="col-6 offset-3">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.Label("Name", "Name")
            @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Description", "Description")
            @Html.TextArea("Description", Model.Description, new { @class = "summernote" })
            <br /><br />

            @Html.Label("Multimedia", "Multimedia Content")
            <input type="file" class="form-control" name="Media" />
            <br /><br />

            @Html.Label("Price", "Price")
            <input type="number" class="form-control" name="Price" value="@Model.Price" />
            @Html.ValidationMessage("Price", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("NumberOfItems", "Number of available items")
            <input type="number" class="form-control" name="NumberOfItems" value="@Model.NumberOfItems" />
            @Html.ValidationMessage("NumberOfItems", null, new { @class = "text-danger" })
            <br /><br />

            <button class="btn btn-success" type="submit">Add</button>

        </div>
    </div>
</form>