@{
    String isAvailable = Model.NumberOfItems > 0 ? "Available" : "Not available";
}

<div class="card-body">

    <h3 class="card-title alert-primary py-3 px-3 rounded-2 text-center">@Model.Name</h3>

    <br />

    <div class="text-center">
        <embed src="@Model.Multimedia" style="max-height: 150px; min-height: 50px; min-width: 50px;" />
    </div>

    <div class="card-text">Description @Html.Raw(Model.Description)</div>

    <div class="card-text">Details</div>
    <ul>
        <li>Price: @Model.Price</li>
        <li>In stock: @isAvailable</li>
    </ul>
</div>