@model DragonsLegacy.Models.Project

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br /><br />

<h2 class="text-center mt-5">Edit Project</h2>
<br />
@using (Html.BeginForm(actionName: "Edit", controllerName: "Projects"))
{
    <div class="row">
        <div class="col-6 offset-3">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.Label("Name", "Project's Name")
            <br />
                
            @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Description", "Project's Description")
            <br />

            @Html.TextArea("Description", Model.Description, new { @class = "summernote" })
            @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
            <br /><br />

            <button class="btn btn-success" type="submit">Edit</button>

        </div>

    </div>
}
