@model DragonsLegacy.Models.Project

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<h2 class="text-center mt-5">Edit Project</h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Projects"))
{
    <div class="row">
        <div class="col-6 offset-3">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.Label("Name", "Name")                
            @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Description", "Description")
            @Html.TextArea("Description", Model.Description, new { @class = "summernote" })
            <br /><br />

            @Html.Label("Change organizer")
            <select name="OrganizerId" class="form-control">
                @foreach (var user in ViewBag.InProject)
                {
                    @if (user.Value != Model.OrganizerId)
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                    else
                    {
                        <option selected value="@user.Value">@user.Text</option>
                    }
                }
            </select>
            <br /><br />

            <button class="btn btn-success" type="submit">Edit</button>

        </div>

    </div>
}
