<h2 class="text-center">Index Projects</h2>

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />


<form method="GET" action="/Projects/Index?projectFilter=@ViewBag.ProjectFilter">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search" value="@ViewBag.SearchString" />
        @if (ViewBag.ProjectFilter != "")
        {
            <input type="hidden" name="projectFilter" value="@ViewBag.ProjectFilter" />
        }
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@if (!ViewBag.IsAdmin)
    {
    @using (Html.BeginForm("Index", "Projects", FormMethod.Get))
    {
        @if (@ViewBag.SearchString != "")
        {
            <input type="hidden" name="search" value="@ViewBag.SearchString" />
        }
        <div class="filter-container">
            <label for="projectFilter">Filter:</label>
            @Html.DropDownList("projectFilter", new SelectList(new[]
            {
                new SelectListItem { Text = "Organized Projects", Value = "OrganizedProjects" },
                new SelectListItem { Text = "My Projects", Value = "MyProjects" },
                new SelectListItem { Text = "All Projects", Value = "AllProjects" }
            }, "Value", "Text", ViewBag.ProjectFilter), new { onchange = "submit()" })
        </div>
    }
}
<br /><br />

@if (ViewBag.Count > 0)
{
    <div class="row">
        @{int counter = 0;}
        @foreach (DragonsLegacy.Models.Project project in ViewBag.Projects)
        {
            <div class="col-md-4">
                <div class="card">
                    @Html.Partial("ProjectInfo", project)
                </div>

                <div class="d-flex flex-row justify-content-around p-3">
                    <div> <a href="/Projects/Show/@project.Id" class="btn btn-dark">Show</a> </div>

                    @if (ViewBag.IsAdmin)
                    {
                        <div> <a href="/Projects/Delete/@project.Id" class="btn btn-danger">Delete</a> </div>
                    }

                </div>
            </div>

            counter++;
            if (counter % 3 == 0 && counter < ViewBag.Count)
            {
                @:</div><div class="row">
            }
        }
    </div>

    @if (ViewBag.LastPage > 1)
    {
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.LastPage; i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=@(ViewBag.LastPage)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
}
else
{
    <div class="alert alert-info p-3 rounded-3 text-center">
        No projects found.
    </div>
}