@model DragonsLegacy.Models.Project

<h2 class="text-center">Show Project</h2>

@if (ViewBag.Message != null)
{
    <br />
    <br />
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br /><br />

<div class="card">

    @Html.Partial("GeneralInfo", Model)

    <br />

    @if (ViewBag.ShowButtons || ViewBag.IsAdmin)
    {
        <div class="d-flex flex-row justify-content-around">

            <a class="btn btn-primary" href="/Projects/Edit/@Model.Id">Edit</a>

            <form method="post" action="/Projects/Delete/@Model.Id">

                <button type="submit" class="btn btn-danger">Delete</button>

            </form>

        </div>

        <br />

        <div class="d-flex flex-row justify-content-around">
            <form method="post" asp-controller="Projects" asp-action="AddTeam">
                <input type="hidden" name="ProjectId" value="@Model.Id" />
                <div class="d-flex flex-row justify-content-center p-3">
                    <div>
                        <select name="TeamId" class="form-control">
                            <option selected disabled>Add this team to the project</option>
                            @foreach (var team in ViewBag.NotInProject)
                            {
                                <option value="@team.Id">@team.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success alert-success" value="+" />
                    </div>
                </div>
            </form>

            <form method="post" asp-controller="Projects" asp-action="RemoveTeam">
                <input type="hidden" name="ProjectId" value="@Model.Id" />
                <div class="d-flex flex-row justify-content-center p-3">
                    <div>
                        <select name="TeamId" class="form-control">
                            <option selected disabled>Remove this user to the team</option>
                            @foreach (var team in ViewBag.InProject)
                            {
                                <option value="@team.Id">@team.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-danger alert-danger" value="-" />
                    </div>
                </div>
            </form>
        </div>
    }

</div>

<br /><b3 />

<h3 class="text-center">Teams</h3>
<div class="d-flex flex-row justify-content-center">
    @foreach (var team in ViewBag.Teams)
    {
        <div style="width: 18rem;">
            <div class="card m-2 p-2">
                <p class="card-text text-center"><a href="@Url.Action("Show", "Teams", new { id = team.Id })">@team.Name</a></p>
            </div>
        </div>
    }
</div>

@if (ViewBag.ShowButtons || ViewBag.IsAdmin)
{
    TempData["ProjectId"] = Model.Id;
    <a href="/Tasks/New" class="btn btn-primary">Add Task</a>
}
