@model DragonsLegacy.Models.Project

<h2 class="text-center">Show Project</h2>

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<div class="card">

    @Html.Partial("GeneralInfo", Model)

    <br />

    @if (ViewBag.ShowButtons || ViewBag.IsAdmin)
    {
        <div class="d-flex flex-row justify-content-around">

            <a class="btn btn-primary" href="/Projects/Edit/@Model.Id">Edit</a>

            <form method="post" action="/Projects/Delete/@Model.Id">

                <button type="submit" class="btn btn-danger">Delete</button>

            </form>

        </div>

        <br />
    }

    @if (ViewBag.ShowButtons)
    {
        TempData["ProjectId"] = Model.Id;

        <div class="d-flex flex-row justify-content-around">
            <form method="post" asp-controller="Projects" asp-action="AddTeam">
                <input type="hidden" name="ProjectId" value="@Model.Id" />
                <div class="d-flex flex-row justify-content-center p-3">
                    <div>
                        <select name="TeamId" class="form-control">
                            <option selected disabled>Add this team to the project</option>
                            @foreach (var team in ViewBag.NotInProject)
                            {
                                <option value="@team.Id">@team.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success alert-success" value="+" />
                    </div>
                </div>
            </form>

            <div>
                <a href="/Tasks/New" class="btn btn-primary">Add Task</a>
            </div>

            <form method="post" asp-controller="Projects" asp-action="RemoveTeam">
                <input type="hidden" name="ProjectId" value="@Model.Id" />
                <div class="d-flex flex-row justify-content-center p-3">
                    <div>
                        <select name="TeamId" class="form-control">
                            <option selected disabled>Remove this team from the project</option>
                            @foreach (var team in ViewBag.InProject)
                            {
                                <option value="@team.Id">@team.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-danger alert-danger" value="-" />
                    </div>
                </div>
            </form>
        </div>
    }

</div>

<div class="d-flex flex-row justify-content-center">
    <div style="width: 18rem;">
        <div class="card m-2 p-2">
            <h5 class="card-title  text-center">Organizer</h5>
            <p class="card-text  text-center">@Model.Organizer.UserName</p>
        </div>
    </div>
</div>
<br /><b3 />

@if (ViewBag.TeamsCount > 0)
{
    <div class="d-flex flex-row justify-content-center">
        <h3>Teams</h3>
    </div>
    <div class="d-flex flex-row justify-content-center">
        @foreach (var team in ViewBag.Teams)
        {
            <div style="width: 18rem;">
                <div class="card m-2 p-2">
                    <p class="card-text text-center"><a href="/Teams/Show/@team.Id">@team.Name</a></p>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info p-3 rounded-3 text-center">
        No teams working on this project
    </div>
}
<br /><br />

@if (ViewBag.Count > 0)
{
    @if (!ViewBag.IsAdmin)
    {
        @using (Html.BeginForm("Show", "Projects", FormMethod.Get))
        {
            <div class="filter-container">
                <label for="taskFilter">Filter:</label>
                @Html.DropDownList("taskFilter", new SelectList(new[]
                                  {
                    new SelectListItem { Text = "My Tasks", Value = "MyTasks" },
                    new SelectListItem { Text = "Other's Tasks", Value = "OthersTasks" },
                    new SelectListItem { Text = "All Tasks", Value = "AllTasks" }
                }, "Value", "Text", ViewBag.taskFilter), new { onchange = "submit()" })
            </div>
        }
        <br /><br />
    }

    @foreach (DragonsLegacy.Models.Task task in ViewBag.Tasks)
    {
        <div class="card">

            @Html.Partial("GeneralInfo", task)

        </div> 

        <div class="text-center">
            <a href="/Tasks/Show/@task.Id" class="btn btn-primary">Show Task</a>
        </div>
        <br />
    }

    @if (ViewBag.LastPage > 1)
    {
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                        href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.LastPage; i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                            href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link"
                        href="@ViewBag.PaginationBaseUrl=@(ViewBag.LastPage)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }

}
else
{
    <div class="alert alert-info p-3 rounded-3 text-center">
        No tasks found.
    </div>
}