@model DragonsLegacy.Models.Task

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<h2 class="text-center mt-5">Edit Task</h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Tasks"))
{
    <div class="row">
        <div class="col-6 offset-3">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.Label("Name", "Name")
            @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Description", "Description")
            @Html.TextArea("Description", Model.Description, new { @class = "summernote" })
            @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Priority", "Priority")
            <select name="Priority" class="form-control">
                @if (@Model.Priority == 1)
                {
                    <option selected value="1">Low</option>
                }
                else
                {
                    <option value="1">Low</option>
                }
                @if (@Model.Priority == 2)
                {
                    <option selected value="2">Medium</option>
                }
                else
                {
                    <option value="2">Medium</option>
                }
                @if (@Model.Priority == 3)
                {
                    <option selected value="3">High</option>
                }
                else
                {
                    <option value="3">High</option>
                }
            </select>
            <br /><br />

            <input type="hidden" name="Status" value="@Model.Status" />
            <input type="hidden" name="StartDate" value="@Model.StartDate" />
            <input type="hidden" name="EndDate" value="@Model.EndDate" />
            <input type="hidden" name="UserId" value="@Model.UserId" />

            @Html.Label("Deadline", "Deadline")
            @Html.EditorFor(task => task.Deadline, null, new { @class = "form-control" })
            @Html.ValidationMessage("Deadline", null, new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Categories", "Select Categories")
            <br />
            @foreach (SelectListItem category in ViewBag.AllCategories)
            {
                bool isChecked = false;
                if (ViewBag.SelectedCategories != null)
                {
                    foreach (int selectedCategory in ViewBag.SelectedCategories)
                    {
                        if (selectedCategory.ToString() == category.Value)
                        {
                            isChecked = true;
                            break;
                        }
                    }
                }
                if (isChecked)
                {
                    <input type="checkbox" name="SelectedCategories" value="@category.Value" checked /> @category.Text
                }
                else
                {
                    <input type="checkbox" name="SelectedCategories" value="@category.Value" /> @category.Text
                }
                <br />
            }
            <br /><br />

            @if (Model.EndDate == null)
            {
                @Html.Label("ExperiencePoints", "Experience Points")
                <br />
                <input type="number" class="form-control" name="ExperiencePoints" value="@Model.ExperiencePoints">
                @Html.ValidationMessage("ExperiencePoints", null, new { @class = "text-danger" })
                <br /><br />

                @Html.Label("Coins", "Coins")
                <br />
                <input type="number"class="form-control" name="Coins" value="@Model.Coins">
                @Html.ValidationMessage("Coins", null, new { @class = "text-danger" })
                <br /><br />
            }

            <button class="btn btn-success" type="submit">Edit</button>

        </div>

    </div>
}
