<h2 class="text-center">Index Tasks</h2>

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

@if (!ViewBag.IsAdmin)
{
    @using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
    {
        <div class="filter-container">
            <label for="taskFilter">Filter:</label>
            @Html.DropDownList("taskFilter", new SelectList(new[]
            {
                new SelectListItem { Text = "All Tasks", Value = "All Tasks" },
                new SelectListItem { Text = "Not Started", Value = "NotStarted" },
                new SelectListItem { Text = "In Progress", Value = "InProgress" },
                new SelectListItem { Text = "Completed", Value = "Completed" }
            }, "Value", "Text", ViewBag.TaskFilter), new { onchange = "submit()" })
        </div>
    }
}
else
{
    @using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
    {
        <div class="form-group">
            <label for="TaskFilter">Select a user:</label>
            <select id="TaskFilter" name="TaskFilter" class="form-control" onchange="this.form.submit()">
                @if (ViewBag.TaskFilter == "AllTasks")
                {
                    <option value="AllTasks" selected>All Tasks</option>
                }
                else
                {
                    <option value="AllTasks">All Tasks</option>
                    <option value="@ViewBag.TaskFilter" selected>@ViewBag.TaskFilterValue</option> 
                }
                @foreach (var user in ViewBag.AllUsers)
                {
                    @if (ViewBag.TaskFilter != "AllTasks")
                    {
                        @if (ViewBag.TaskFilter != user.Value)
                        {
                            <option value="@user.Value">@user.Text</option>
                        }
                    }
                    else
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                }
            </select>
        </div>
    }

    
    @* @using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
    {
        <div class="filter-container">
            <label for="taskFilter">Filter:</label>
            @foreach (var user in ViewBag.AllUsers)
            {
                <input type="checkbox" name="TaskFilter" value="@user.Value" />
                <label for="TaskFilter">@user.Text</label>
            }
            <input type="submit" value="Filter" />
        </div>
    } *@
}

@if (ViewBag.Count > 0)
{
    @foreach (DragonsLegacy.Models.Task task in ViewBag.Tasks)
    {
        <div class="card">

            @Html.Partial("GeneralInfo", task)

        </div>

        <div class="text-center">
            <a href="/Tasks/Show/@task.Id" class="btn btn-primary">Show Task</a>
        </div>
        <br />
    }
}
else
{
    <div class="alert alert-info p-3 rounded-3 text-center">
        No tasks found.
    </div>
}