<h2 class="text-center">Index Tasks</h2>

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<form method="GET" action="/Tasks/Index?taskFilter=@ViewBag.TaskFilter">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search" value="@ViewBag.SearchString" />
        @if (ViewBag.TaskFilter != "")
        {
            <input type="hidden" name="taskFilter" value="@ViewBag.TaskFilter" />
        }
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@if (!ViewBag.IsAdmin)
{
    @using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
    {
        @if (@ViewBag.SearchString != "")
        {
            <input type="hidden" name="search" value="@ViewBag.SearchString" />
        }
        <div class="filter-container">
            <label for="taskFilter">Filter:</label>
            @Html.DropDownList("taskFilter", new SelectList(new[]
            {
                new SelectListItem { Text = "All Tasks", Value = "AllTasks" },
                new SelectListItem { Text = "Not Started", Value = "NotStarted" },
                new SelectListItem { Text = "In Progress", Value = "InProgress" },
                new SelectListItem { Text = "Completed", Value = "Completed" }
            }, "Value", "Text", ViewBag.TaskFilter), new { onchange = "submit()" })
        </div>
    }
}
else
{
    @using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
    {
        @if (@ViewBag.SearchString != "")
        {
            <input type="hidden" name="search" value="@ViewBag.SearchString" />
        }
        <div class="form-group">
            <label for="TaskFilter">Filter:</label>
            <select id="TaskFilter" name="TaskFilter" class="form-control" onchange="this.form.submit()">
                @if (ViewBag.TaskFilter == "AllTasks")
                {
                    <option value="AllTasks" selected>All Tasks</option>
                }
                else
                {
                    <option value="AllTasks">All Tasks</option>
                    <option value="@ViewBag.TaskFilter" selected>@ViewBag.TaskFilterValue</option> 
                }
                @foreach (var user in ViewBag.AllUsers)
                {
                    @if (ViewBag.TaskFilter != "AllTasks")
                    {
                        @if (ViewBag.TaskFilter != user.Value)
                        {
                            <option value="@user.Value">@user.Text</option>
                        }
                    }
                    else
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                }
            </select>
        </div>
    }
}

@if (ViewBag.Count > 0)
{
    @foreach (DragonsLegacy.Models.Task task in ViewBag.Tasks)
    {
        <div class="card">

            @Html.Partial("GeneralInfo", task)

        </div>

        <div class="text-center">
            <a href="/Tasks/Show/@task.Id" class="btn btn-dark">Show Task</a>
        </div>
        <br />
    }

    @if (ViewBag.LastPage > 1)
    {
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.LastPage; i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=@(ViewBag.LastPage)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
}
else
{
    <div class="alert alert-info p-3 rounded-3 text-center">
        No tasks found.
    </div>
}