@model DragonsLegacy.Models.Task

<h2 class="text-center">Show Task</h2>

@if (ViewBag.Message != null)
{
    <br />
    <br />
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />
<br />

<div class="card">

    @Html.Partial("GeneralInfo", Model)

    <br />

    @if (ViewBag.ShowButtons)
    {
        <div class="d-flex flex-row justify-content-around">

            <a class="btn btn-primary" href="/Tasks/Edit/@Model.Id">Edit</a>

            <form method="post" action="/Tasks/Delete/@Model.Id">

                <button type="submit" class="btn btn-danger">Delete</button>

            </form>

        </div>

        <br />
    }
    else if (ViewBag.IsAdmin)
    {
        <div class="d-flex flex-row justify-content-around">

            <form method="post" action="/Tasks/Delete/@Model.Id">

                <button type="submit" class="btn btn-danger">Delete</button>

            </form>

        </div>

        <br />
    }

</div>

@* Showing all comments *@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@Html.Raw(comm.Content)</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"></i>@comm.User.UserName</strong>

                </div>
                <br>


                @if (comm.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                {

                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Edit</a>

                        </div>

                        <div>

                            <form method="post" action="/Comments/Delete/@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>

                            </form>

                        </div>

                    </div>
                }

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}

@* Form for adding a new comment *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Tasks/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="TaskId" value="@Model.Id" />

                        <label>Content</label>
                        <br />
                        @Html.TextArea("Content", null, new { @class = "summernote" })
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                        <br /><br />

                        <button class="btn btn-success " type="submit">Add comment</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>