@model DragonsLegacy.Models.Task

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<div class="card">
    @Html.Partial("TaskInfo", Model)
</div>
<br />

@if (ViewBag.CurrentUser == Model.UserId)
{
    <div class="row">
        <div class="col-6 offset-3 p-10">
            @using (Html.BeginForm(actionName: "EditStatus", controllerName: "Tasks"))
            {
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="Name" value="@Model.Name" />
                <input type="hidden" name="Description" value="@Model.Description" />
                <input type="hidden" name="Priority" value="@Model.Priority" />
                <input type="hidden" name="Deadline" value="@Model.Deadline" />
                <input type="hidden" name="StartDate" value="@Model.StartDate" />
                <input type="hidden" name="EndDate" value="@Model.EndDate" />
                <input type="hidden" name="UserId" value="@Model.UserId" />
                <input type="hidden" name="ExperiencePoints" value="@Model.ExperiencePoints" />
                <input type="hidden" name="Coins" value="@Model.Coins" />
                <input type="hidden" name="Multimedia" value="@Model.Multimedia" />

                <div class="text-center">
                    @Html.Label("Status", "Change Status")
                </div>
                @Html.DropDownList("Status", new SelectList(ViewBag.AllStatuses, "Value", "Text"), new { @class = "form-control" })
                <br />
                <div class="d-flex flex-row justify-content-around">
                    <button class="btn btn-success" type="submit">Change status</button>
                </div>
            }
        </div>
    </div>
}

@if (ViewBag.IsOrganizer || ViewBag.IsAdmin)
{
    <div class="d-flex flex-row justify-content-around">

        <a class="btn btn-primary" href="/Tasks/Edit/@Model.Id">Edit</a>

        <form method="post" action="/Tasks/Delete/@Model.Id">

            <button type="submit" class="btn btn-danger">Delete</button>

        </form>

    </div>

    <br />
}

@* Showing all comments *@
@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@Html.Raw(comm.Content)</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"></i>@comm.User.UserName</strong>

                </div>
                <br>


                @if (comm.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                {

                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Edit</a>

                        </div>

                        <div>

                            <form method="post" action="/Comments/Delete/@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>

                            </form>

                        </div>

                    </div>
                }

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}

@* Form for adding a new comment *@
<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Tasks/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="TaskId" value="@Model.Id" />
                        <input type="hidden" name="UserId" value="@Model.UserId" />

                        @Html.Label("Content", "Comment")
                        @Html.TextArea("Content", null, new { @class = "summernote" })
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                        <br /><br />

                        <button class="btn btn-success " type="submit">Add comment</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>